# Compilers & Native Binaries
*.exe
*.o
*.obj
*.dll
*.so
*.dylib
oath
oath-htse

# Compiler Test & Temporary Files
__oath_*
repomix-output.*

# Polyglot Exported Artifacts (Generated)
*.wat
*.wasm
*.audit.json
enterprise.*
enterprise_bridge.*
bridge.*
netcore.*
netring.*

# IDE & Editor Configs
.vscode/
.idea/
*.suo
*.user

# OS Metadata
Thumbs.db
.DS_Store